/* || variables */ 

$pale-blue: hsl(225, 100%, 94%)

$container-max-width: 30em
$container-min-height: 42em
$container-margin: 2em
  
/* || Style reset */ 

* 
  padding: 0
  margin: 0
  box-sizing: border-box

/* || General styles */ 

html, body
  height: 100%

body
  display: grid
  grid-template-columns: auto
  grid-template-rows: 15fr 1fr

  background: url(/images/pattern-background-desktop.svg) top no-repeat, $pale-blue
  background-size: contain

  @media all and (orientation: portrait)
    background: url(/images/pattern-background-mobile.svg) top no-repeat, $pale-blue
    background-size: contain


/* || Content styles */

.container
  place-self: center

  background-color: red

  max-width: $container-max-width
  min-height: $container-min-height

  margin: $container-margin

.attribution 
  grid-column-start: 1
  place-self: center

  font-size: 11px 
  text-align: center

.attribution a 
  color: hsl(228, 45%, 44%)